account {
    display: block;
    right: 0 !important;
    left: auto !important;
}
#account a {
    top: 25px;
    position: relative;
    left: 25px;
}

#account {
    display: block;
    width: 90px;
    height: 90px;
    margin: 20px auto;
    text-align: center;
}

#otp {
    text-indent: 18px;
    letter-spacing: 24px
}


#login.button,
#confirm.button {
    display: none;
    max-width:120px;
    margin: 15px auto;
}

#cancel.button,
#resend.button {
    display: inline-block;
}

.ibx #resendTimer {
    display: none;
    color: #eee;
    margin: 0 auto;
    padding: 10px 15px;
}
